@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-weight: 500;
  font-synthesis: none;
  color-scheme: light dark;
  font-family: 'Inter', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}